* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  height: 100vh;
}

section {
  background-color: rgb(21, 21, 21);
  padding: 30px;
  border-radius: 10px;
  position: relative;
}

h1 {
  font-size: 2em;
  text-align: center;
}

.botoes {
  text-align: center;
  margin-top: 2em;
}

button {
  color: black;
  height: 3em;
  width: 5em;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 1.07em;
}

.btn-start {
  background-color: rgb(13, 178, 13);
}

.btn-pause:hover {
  background-color: yellow;
  transition: 0.3s;
}

.btn-clear:hover {
  background-color: red;
  transition: 0.3s;
}

p {
  position: absolute;
  top: 17em;
}
